<!-- logout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You have been logged out</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            background-color: blueviolet;
        }
        h1 {
            color:aqua;
        }
        p {
            font-size: 18px;
            color:aqua;
        }
    </style>
</head>
<body>
    <h1>You have been logged out!</h1>
    <p>Thank you for visiting. You are now logged out of your account.</p>
    <a href="login2">Login Again</a>
    <br><br>
    
</body>
</html>
