{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Registration Form
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"
    </head>
    <body>
        
        <div class="registration-form">
            <h1>Registration Form</h1>
            <form action="reg">
                <p>
                    Full Name:
                </p>
                <input type="text" name="fullname" placeholder="Full Name">
                <p>
                    User Name:
                </p>
                <input type="text" name="username" placeholder="User Name">
                <p>
                    Email:
                </p>
                <input type="email" name="email" placeholder="Email">
                <p>
                    Password:
                </p>
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Registration</button>
                <br>
                <a href="login2" >Login</a>
            </form>
        </div>
    </body>
</html>